<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <h1>Fonctionnalité de matching ADN</h1>
        <ol class="breadcrumb">
            <li><i class="active fa fa-dashboard"></i> matching ADN</li>
        </ol>
    </section>
    <section class="content">
        <br>
        <div class="row">
            <div class="col-md-7 col-md-offset-2">
                <h1>FONCTIONNALITÉ BIENTÔT DISPONIBLE !</h1>
            </div>
        </div>
    </section>
</div>
{% endblock %}