{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Right side column. Contains the navbar and content of the page -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Téléverser une séquence ADN
    </h1>
    <ol class="breadcrumb">
      <li><a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Téléverser une séquence</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    {% if envoi %}Votre message a bien été envoyé !{% endif %}

    <form action="{% url "create" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
  </section>
</div>

{% endblock %}