{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <h1>{{ sequence.title }}</h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'index' %}"><i class="active fa fa-dashboard"></i> Liste des séquences</a></li>
            <li class="active">séquence</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5">
                <nav class="navbar navbar-static-top" role="navigation">
                    <div  class="primary navbar-custom-menu">
                        <div class="col-md-6">
                            <a href="{% url 'update' sequence.id %}"><button class="btn btn-block btn-warning">Mettre à jour la séquence</button></a>
                        </div>
                        <div class="col-md-6">
                            <a href="{% url 'delete' sequence.id %}"><button class="btn btn-block btn-danger" onclick="return confirm('Etes-vous sûr de vouloir surppimer cette séquence ?');">Supprimer la séquence</button></a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-md-12">
                <h2>Dénomination de la sequence</h2>
                <p>Nom de la séquence ADN : <b>{{ sequence.title }}</b></p>
                <p>Nom du fichier Téléverser : <b>{{ sequence.file_path }}</b></p>
                <p>ID : <b>{{ sequence.id }}</b></p>
                <p>Note : <b>{{ sequence.note }}</b></p>
                <h2>Données statistiques de la séquence</h2>
                {% if sequence.nb_bases %}
                    <p>Nombre de base composant la séquence : <b>{{ sequence.nb_bases }}</b></p>
                    <p>Nombre d'Adénine : <b>{{ sequence.nb_a }}</b></p>
                    <p>Nombre de Cytosine : <b>{{ sequence.nb_c }}</b></p>
                    <p>Nombre de Guanine : <b>{{ sequence.nb_g }}</b></p>
                    <p>Nombre de Thymine : <b>{{ sequence.nb_t }}</b></p>
                    <p>Pourcentage d'Adénine : <b>{{ sequence.percentage_a }} %</b></p>
                    <p>Pourcentage de Cytosine : <b>{{ sequence.percentage_c }} %</b></p>
                    <p>Pourcentage de Guanine : <b>{{ sequence.percentage_g }} %</b></p>
                    <p>Pourcentage de Thymine : <b>{{ sequence.percentage_t }} %</b></p>
                    <p>Pourcentage de Guanine et de Cytosine : <b>{{ sequence.percentage_gc }} %</b></p>
                    <p>Pourcentage d'Adénine et de Thymine : <b>{{ sequence.percentage_at }} %</b></p>
                    <br>
                {% endif %}
            </div>
            {% if sequence.nb_bases %}
                <div class="col-md-2">
                    <p><a href="{% url 'analyze' sequence.id %}"><button class="btn btn-block btn-primary">Réanalyser la séquence</button></a></p>
                </div>
            {% else %}
                <div class="col-md-6">
                    <p><b>Pas de données statistique pour le moment !</b></p>
                    {% if sequence.file is not None %}
                        <a href="{% url 'analyze' sequence.id %}"><button class="btn btn-block btn-primary btn-lg">Analyser la séquence</button></a>
                    {% else %}
                        <p>La séquence ADN est vide, vous ne pouvez par conséquent pas l'analyser !</p>
                    {% endif %}
                </div>
            {% endif %}
            {% if sequence.ratio_g_c_graph_data %}
                <div class="col-md-12"">
                    <h2>Graphique ratio de Cytosine et Guanine</h2>
                </div>
                <img class="col-md-12" src="data:image/png;base64,{{ sequence.ratio_g_c_graph_data }}" alt="">
            {% endif %}
            {% if sequence.dna_walk_graph_data %}
                <div class="col-md-12"">
                    <br>
                    <h2>Graphique DNA Walk</h2>
                </div>
                <img class="col-md-9" src="data:image/png;base64,{{ sequence.dna_walk_graph_data }}" alt="">
                <img class="col-md-3" src="{% static 'dist/img/dna_walk_legend.png' %}" alt="">
            {% endif %}
            <br>
            <div class="col-md-12">
                <h2>Séquence ADN</h2>
                {% if sequence.file|length > 0 and sequence.file|length < 1000000 %}
                    <p><i>{{ sequence.file|linebreaks }}</i></p>
                {% elif sequence.file|length >= 1000000 %}
                    <p>La séquence ADN est trop longue pour être affichée ici !</p>
                {% else %}
                    <p>La séquence ADN est vide !</p>
                {% endif %}
            </div>
    </section>
</div>
{% endblock %}