{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <h1>Téléverser une séquence ADN</h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'index' %}"><i class="active fa fa-dashboard"></i> Liste des séquences</a></li>
            {% if "update" in request.path %}
                <li><a href="{% url 'read' sequence.uuid %}"> {{ sequence.title }}</a></li>
                <li> Mise à jour de la séquence</li>
            {% else %}
                <li> Création d'une séquence</li>
            {% endif %}
        </ol>
    </section>
    <section class="content">
        <h4>Joindre un fichier FASTA</h4>
        <p>Exemple : file.fna</p>
        <br>
        <div class="row">
            <div class="col-md-2 col-md-offset-4">
                {% if "update" in request.path %}
                ici
                    <form action="{% url 'update' sequence.uuid %}" method="post" enctype="multipart/form-data">
                {% else %}
                <form action="{% url 'create' %}" method="post" enctype="multipart/form-data">
                    {% endif %}
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Enregistrer la séquence" />
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}